.overlay{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background with some transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make it appear above other content */
}
.spinner{
    width: 50px;
  height: 50px;
  border: 3px dashed rgba(188, 80, 80, 0.2);
  border-top: 3px dashed #deb706;
  border-radius: 50%;
  animation: spin 1s linear infinite;
   
}
@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); } 
}
